<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Green Earth</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stylechu.css') }}">
</head>

<body class="home-page">

<nav class="navbar">
<h2>🌿 Green Đồng Nai</h2>
<div>
<a href="login.html">Login</a>
<a href="signup.html">Sign Up</a>
</div>
</nav>

<section class="home">
<h1>Save The Environment 🌍</h1>
<p>Protect nature - Protect life</p>
<a href="login.html" class="main-btn">Get Started</a>
</section>

</body>
</html>
